@model WebVendas.Models.LoginViewModel
@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@
            <h1>WebVendas</h1>
        </div>

        <!-- Login Form -->
        <form asp-controller="Login" asp-action="Index" method="post">
            <input asp-for="Email" type="text" class="fadeIn second" placeholder="E-mail">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Senha" type="password" class="fadeIn third" placeholder="Senha">
            <span asp-validation-for="Senha" class="text-danger"></span>
            <br />
            <input type="submit" class="fadeIn fourth" value="Entrar">
            <br />
            <span class="text-danger">@ViewData["ErroLogin"]</span>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueceu a senha?</a>
        </div>

    </div>
</div>